<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>FlaskProjekt</title>
</head>

<body>
    <h1>Welcome to Flask!</h1>
    <div id="text">
        <p>Welcome to Flask's documentation. Get started with Installation and then get an overview with the Quickstart.
            There is also a more detailed Tutorial that shows how to create a small but complete application with Flask.
            Common patterns are described in the Patterns for Flask section. The rest of the docs describe each
            component of Flask in detail, with a full reference in the API section.

            Flask depends on the Werkzeug WSGI toolkit, the Jinja template engine, and the Click CLI toolkit. Be sure to
            check their documentation as well as Flask's when looking for information.</p>
        <div id="image">
            <img src="https://flask.palletsprojects.com/en/3.0.x/_images/flask-horizontal.png" alt="FlaskLogo"
                width="auto" height="auto">
        </div>
    </div>
    <footer>
        <p>&copy; 2024. No rights reserved.</p>
    </footer>
</body>

</html>