<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>FlaskProjekt</title>
</head>

<body>
    <h1>Welcome to Flask's documentation!</h1>
    <div id="text">
        <a href="#">Version 2.3.3</a><br>
        <a href="#">Version 2.3.2</a><br>
        <a href="#">Version 2.3.1</a><br>
        <a href="#">Version 2.3.0</a><br>
    </div>
    <footer>
        <p>&copy; 2024. No rights reserved.</p>
    </footer>
</body>

</html>