body {
    background-color: yellow;
    animation: changeBackgroundColor 5s infinite alternate;
}

h1 {
    text-align: center;
    animation: moveLeftToRight 12s linear infinite;
    display: inline-block;
    padding: 10px;
    border: 3px solid #bfdd16;
    border-radius: 20px;

}

#text {
    font-size: 30px;
    color: black;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);

}


#image {
    border: solid 5px;
    box-shadow: 0 0 10px #0b0b0b;
    display: inline-block;
    padding: 10px;
    border: 2px solid #dbea0e;
    border-radius: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3px;
}



/* Animation <h1 */
@keyframes moveLeftToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(500%);
    }
}

/* Animation Hintergrundfarbe */
@keyframes changeBackgroundColor {
    0% {
        background-color: #3498db;
    }

    50% {
        background-color: #e74c3c;
    }

    100% {
        background-color: #2ecc71;
    }
}